<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/index.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    
<section id="footer">

    <footer class="py-1 head"> 
        <ul class="nav justify-content-center  mb-3">
             <li class="nav-item"><a href="http://localhost:5000" class="nav-link px-2 txt">Home</a></li>
              <li class="nav-item"><a href="http://localhost:5000/send" class="nav-link px-2 txt">Scan</a>
            </li> <li class="nav-item"><a href="" class="nav-link px-2 txt">About</a></li>
             <li class="nav-item"><a href="http://localhost:5000/login" class="nav-link px-2 txt">Login</a></li> 
             <li class="nav-item"><a href="http://localhost:5000/sign" class="nav-link px-2 txt"> Sign-up</a></li>
            </ul> <p class="text-center">© 2025 </p> </footer>
    </section>


</body>
</html>