<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="styles/index.css" rel="stylesheet">
</head>
<body>

<div class="container head" style="max-width: 100%;"> 
    <header class=" d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
         <div class="col-md-3 mb-2 mb-md-0"> 
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none"> 
               <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
  <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z"/>
  <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8z"/>
</svg>
  <path d="M7 6h2v2h2v2H9v2H7v-2H5V8h2z"/>
  <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1zm2 3v10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V4zM3 3h10V1H3z"/>
</svg> </a> </div>
 <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 head ">
                         <li><a href="http://localhost:5000/" class="nav-link px-2 txt">Home</a></li>
                          <li class="nav-item"><a href="/send" class="nav-link px-2 text-white">Scan</a></li>
                          <li><a href="#" class="nav-link px-2 txt">Report</a></li>
                           <li><a href="#" class="nav-link px-2 txt"> About</a></li> 
                          <li><a href="/Contact" class="nav-link px-2 text-white">Contact</a></li>                          
                         <li><a href="#" class="nav-link px-2 txt"></a></li> 
                        </ul> <div class="col-md-3 text-end "> <button type="button" class="btn btn-outline-secondary me-2"><a href="http://localhost:5000/login" class="txt" style="text-decoration: none;">Login</a></button> 
                            <button type="button" class="btn btn-outline-secondary"><a  class="txt" href="http://localhost:5000/sign"style="text-decoration: none;" >Sign-up</a></button>
                           
                         </div> 
                        </header> 
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>